<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Gamepad</title>
  <link rel="stylesheet" href="css/gamepadStyle.css">
</head>

<body>
  <div id="arrow">
    <button class="arrow-left" onclick="clickLeft()">Left</button>
	  <button class="arrow-right" onclick="clickRight()">Right</button>
	  <button class="arrow-up" onclick="clickUp()"></button>Rotate</button>
	  <button class="arrow-down" onclick="clickDown()">Down</button>
  </div>

  <script src="/socket.io/socket.io.js"></script>
	<script src="js/socket_gamepad.js"></script>
</body>

</html>