<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gamepad</title>
    <link rel="stylesheet" href="css/gamepadStyle.css">

    <script src="https://cdn.rawgit.com/32teeth/html5-plugin-canvas-gamepad/master/CanvasGamepad.js"></script>

</head>

<body>
<canvas id="controller" style="width:80%"></canvas>
<script>
    CanvasGamepad.setup(
        {
            canvas: "controller",
            start: {name: "start"},
            buttons: [
                {name: "FIRE", color: "red"},
            ]
        }
    );
    setInterval(
        function () {
            var map = CanvasGamepad.observe();
            var x = parseInt(map["x-dir"]);
            var y = parseInt(map["y-dir"]);

            if (map["start"] === 1) {
                console.log('start')
                clickStart();
            }

            if (map["FIRE"] === 1) {
                console.log("fire");
            }
            if (x === 0 && y === 1) {
                console.log("down");
                clickDown();
            }
            if (x === 0 && y === -1) {
                console.log("up");
                clickUp();
            }
            if (x === 1 && y === 0) {
                console.log("right");
                clickRight();
            }
            if (x === -1 && y === 0) {
                console.log("left");
                clickRight();
            }
        }
        , 1000
    );
</script>

<script src="/socket.io/socket.io.js"></script>
<script src="js/socket/socket_gamepad.js"></script>

</body>

</html>