<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gamepad</title>
    <style>
        Body {
            Background-color: #000000;
        }
    </style>
    <link rel="stylesheet" href="css/gamepadStyle.css">
</head>

<body>
<div id="arrow">
    <svg width="300%" height="100%" viewBox="0 0 290 115">
        <circle cx="220" cy="64" r="15" fill=red stroke="white" stroke-width="2px" onclick="console.log('Fire');"/>
        <circle cx="64" cy="64" r="10" fill="grey" stroke="white" stroke-width="0.5px"
                onclick="console.log('CENTER');"/>

        <polygon points="64,14 75,36 53,36" fill="grey"/>
        <polygon points="64,28 68,36 60,36" fill="blue"/>
        <polygon points="75,36 75,14 53,14 53,36" fill-opacity="0" onclick="clickUp()"/>

        <polygon points="64,114 75,92 53,92" fill="grey"/>
        <polygon points="64,100 68,92 60,92" fill="blue"/>
        <polygon points="75,92 75,114 53,114 53,92" fill-opacity="0" onclick="clickDown()"/>

        <polygon points="14,64 36,75 36,53" fill="grey"/>
        <polygon points="28,64 36,68 36,60" fill="red"/>
        <polygon points="36,75 36,53 14,53 14,75" fill-opacity="0" onclick="clickLeft()"/>

        <polygon id="Triangle" fill="grey" points="114,64 92,75 92,53"/>
        <polygon points="100,64 92,68 92,60" fill="red"/>
        <polygon points="92,75 92,53 114,53 114,75" fill-opacity="0" onclick="clickRight()"/>

        <polygon points="130,104 170,104 170,120 130,120" fill="yellow" onclick="clickStart()"/>
        <text x="150" y="113" text-anchor="middle" fill="indigo" font-size="10" onclick="clickStart()">START</text>
    </svg>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/socket/socket_gamepad.js"></script>
</body>

</html>