<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Gamepad</title>
    <link rel="stylesheet" href="css/gamepadStyle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js"></script>
</head>

<body>
<div id="joystick">
    <svg width="300%" height="100%" viewBox="0 0 290 115">
        <polygon points="130,104 170,104 170,120 130,120" fill="yellow" onclick="clickStart()"/>
        <span style="position: absolute; top: 98mm; left:128mm; font-size: 32px; color: indigo"
              onclick="clickStart(), console.log('start')">START</span>
    </svg>

</div>

<script src="js/gamepad/joystick.js"></script>
<script src="js/gamepad/gamepad3.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="js/socket/socket_gamepad.js"></script>

</body>
</html>