<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EpiAir Console</title>
  <link type="text/css" rel="stylesheet" href="css/home.css">
</head>

<body>
    <div id="tetris">
        <input type="image" src="img/tetris.png" onclick="window.location.href='http://localhost:8080/tetris'" />
    </div>

    <div id="mobile">
        <input type="image" src="img/mobile.png"/>
    </div>

    <div id="logo">
        <img src="img/epiairconsole.png"/>
    </div>

    <div id="online">
        <input type="image" src="img/online.png"/>
    </div>

    <div id="runner">
        <input type="image" src="img/runner.png"/>
    </div>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>