<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EpiAir Console</title>
  <link type="text/css" rel="stylesheet" href="gameStyle.css">
</head>


<body>
	<button class="arrow-left" onclick="gamepadInput('left')"></button>
	<button class="arrow-right" onclick="gamepadInput('right')"></button>
	<button class="arrow-up" onclick="gamepadInput('rotate')"></button>
	<button class="arrow-down" onclick="gamepadInput('down')"></button>
	
	<canvas>
		<script type="text/javascript" src="js/tetris.js"></script>
	</canvas>

</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>