<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EpiAirConsole</title>
</head>

	<body>
		<header>
		</header>
	</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>